src/java/test/esg/xml/EsgWhitelist.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="esgWhitelist">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="trustedCAs">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="pkiCA">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="hash" type="xsd:string" />
                    <xsd:element name="dn" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" name="openIdCA">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="hash" type="xsd:string" />
                    <xsd:element name="dn" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="trustedServices">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="openIdIdentityProvider">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization" type="xsd:string" />
                    <xsd:element name="url" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" name="gateway">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization" type="xsd:string" />
                    <xsd:element name="commonName" type="xsd:string" />
                    <xsd:element name="hostname" type="xsd:string" />
                    <xsd:element name="myproxy">
                      <xsd:complexType>
                        <xsd:attribute name="port" type="xsd:int" />
                        <xsd:attribute name="AuthorizationAuthority" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="attributeService">
                      <xsd:complexType>
                        <xsd:attribute name="url" type="xsd:string" />
                        <xsd:attribute name="AuthorizationAuthority" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="authorizationService">
                      <xsd:complexType>
                        <xsd:attribute name="url" type="xsd:string" />
                        <xsd:attribute name="AuthorizationAuthority" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" name="datanode">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="organization" type="xsd:string" />
                    <xsd:element name="commonName" type="xsd:string" />
                    <xsd:element name="threddsURL" type="xsd:string" />
                    <xsd:element name="gridftpURL" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="versionDate" type="xsd:int" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
